@import "tailwindcss";

:root {
  /* Doon Nature */

  --background: 248 255 248;
  --surface: 255 255 255;

  --primary: 45 106 79;
  --primary-light: 64 145 108;

  --text: 27 67 50;
  --muted: 82 121 111;

  --border: 221 234 226;
}

[data-theme="night"] {
  /* Doon Night */

  --background: 15 23 32;
  --surface: 24 36 48;

  --primary: 110 231 183;
  --primary-light: 94 234 212;

  --text: 229 238 245;
  --muted: 148 163 184;

  --border: 42 58 73;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
  transition: background-color 0.25s ease, color 0.25s ease;
}